/* -------------------------------------------Generel style------------------------- */
*{
	font-family: Montserrat;

	
	background-size: 100%;
  
	
}

/* ---------------------------------------Navigationbar style-------------------------- */
.navbar{
  background-color: rgb(0, 0, 0);
  
}

.navbar a {
  float: left;
  padding: 2px 1px;
  text-decoration: none;
  font-size: 37px;
  padding-left: 220px;
  
}

.navbar a.green {
  background-color: green;
  color: red;
}

.navbar a.red{
  background-color:red;
  color: green;
}

.loggan{
  width: 100px;
  height: 100px;
  margin: auto;
}

/* -----------------------------------Style för welcome sidan------------------ */

.bodywelcome{
  background-image: url(imgbridge.png);
font-size: 20px;
color: black;
margin: auto;
}

h1{
  padding: 30px;
  text-align: center;
  margin: auto;
  color: red;

}
h3{
  margin: auto;
  color: purple;
  text-align: center;
}

span{
  background-color: pink;
}